@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  text-align: center;
  background-color: rgb(259, 251, 228);
}

h1 {
  font-family: "Bungee", cursive;
  text-align: center;
  font-size: 68px;
  width: 100%;
  color: #373d3f;
}

.scoreboard {
  font-size: 22px;
  line-height: 35px;
  margin: -10px 0 50px 0;
  color: #373d3f;
}

.img-container {
  width: 90%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  justify-items: center;
}

.images {
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  background-color: rgb(56, 55, 55);
  color: white;
}

.footer p,
i {
  background-color: rgb(56, 55, 55);
}

.fa-github {
  color: white;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
  background-color: rgb(56, 55, 55);
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
  background-color: rgb(56, 55, 55);
}

@media screen and (max-width: 1200px) {
  .img-container {
    gap: 30px;
  }
  .images {
    width: 200px;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .img-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}
